 .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: block;
  align-self: center;
  border-radius: 50px; /* 5px rounded corners */
  margin: 10px 10px 10px 10px;
  padding: 30px 50px 50px 50px;
  display: block;
  background-color: blanchedalmond;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

body{
	background-color: linen;
}
h1{
	font-weight: lighter;
}
