/*Css for product landing page*/

/* Header Elements*/
#header {
    position: fixed;
    float: left;
    width: 100%;
    background-color: peru;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header-img {
    border-radius: 50%;
}

#nav-bar{
    align-self: auto;
}

/*Body Adjustments*/
body {
    margin-top: 100px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#video {
    width: max-content;
    padding: 1em 1em 1em 1em;
    align-self: center;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(88, 185, 88);
    }
}